<footer class="footer py-3 mt-auto" style="background-color: #404040;">
    <div class="container d-flex text-center ">
        <span class="text-light">&copy; SidharthaPaidi 2024</span>
    </div>
</footer>