<% layout('layouts/boilerplate') %>
<div class="d-flex justify-content-center align-items-center">
    <div class="list-group w-50 p-3">
    <a href="#" class="list-group-item list-group-item-action"><div class="text-center"><strong>Connect With Me!</strong><img src="https://res.cloudinary.com/dhorfmxva/image/upload/v1712934851/Pngtree_connection_icon_4467509_ghun7y.png" alt="" style="width: 40px; height: 40px;"></div></a>
    <a href="https://github.com/SidharthaPaidi" class="list-group-item list-group-item-action list-group-item-dark"><div class="text-center">@SidharthaPaidi <img src="https://res.cloudinary.com/dhorfmxva/image/upload/v1712930535/github-mark_lz6jrx.svg" alt="" style="width: 30px; height: 30px;"></div></a>
    <a href="https://www.linkedin.com/in/saisidharthapaidi/" class="list-group-item list-group-item-action list-group-item-info"><div class="text-center">@saisidharthapaidi <img src="https://res.cloudinary.com/dhorfmxva/image/upload/v1712930403/In-Blue-96_2x_syqfne.png" alt="" style="width: 30px; height: 30px;"></div></a>
    <a href="https://www.instagram.com/sidhartha0_0/" class="list-group-item list-group-item-action list-group-item-danger"><div class="text-center">@sidhartha0_0 <img src="https://res.cloudinary.com/dhorfmxva/image/upload/v1712930725/Instagram_Glyph_Gradient_vcrwgn.png" alt="" style="width: 30px; height: 30px;"></div></a>
  </div>

</div>

 
<div class="d-flex justify-content-center align-items-center bg-white text-black p-3">
    <p class="text-center m-0 display-7"><strong>Created By -</strong> <br><span><strong>Saisidhartha Paidi</strong></span></p>
</div>


